<ion-header>
  <ion-toolbar>
    <ion-title>Fotos Pexels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar
    [(ngModel)]="busca"
    placeholder="Digite o que deseja pesquisar"
    (keyup.enter)="pesquisar()">
  </ion-searchbar>

  <ion-button
    expand="block"
    (click)="pesquisar()">
    Buscar fotos
  </ion-button>

  <div class="galeria">

  @for (foto of fotos; track foto.id) {

    <div
      class="foto"
      (click)="abrirFoto(foto)">

      <img
        [src]="foto.src.medium"
        [alt]="foto.alt">

    </div>

  }

</div>

@if (fotoSelecionada) {

  <div
    class="modal-foto"
    (click)="fecharFoto()">

    <img
      class="foto-grande"
      [src]="fotoSelecionada.src.large"
      [alt]="fotoSelecionada.alt"
      (click)="$event.stopPropagation()">

  </div>

}

</ion-content>
